.navbar-container{
    overflow: hidden;
    border-bottom: 1px solid rgba(128,128,128,0.17);
    background-color: #ffffff;
}

.topbar-container{
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(13, 65, 65);
    color: azure;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background-color: #ffffff;
    margin-bottom: 10px;
}

.nav-link{
    font-weight: 600;
    margin-left: 20px;
}

.brand-logo{
    width: 100%;
    height: 110%;
}
.brand-logo:hover{
    opacity: 0.9;
}