.facilityHeadig{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    color: rgb(6, 7, 11);
}

.facility-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #b4d6e8;
}

.facility-container .card{
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.facility-container i{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-container .card:hover{
    cursor: pointer;
    background-color: rgb(119, 87, 236);
    color: white;
}